<html>
  <head>
    <title>Page Potin</title>
  </head>
  <h1> Voici la page du potin n°<%= id %> </h1>
  <p>Son auteur: <%= gossip.author %></p>
	<p>Le contenu du potin : <%= gossip.content %></p>
	<a href="/">Tous les potins</a>
  <a href="/gossips/<%= id%>/edit/">Editer un potin</>
<html>